@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #373b69;
}
header{
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
    transition: all 0.3s ease-in;
}

.newDiv {
    
    flex:1 1 300px;
    margin: 2% 0;
    background-color: #4a4d6e;
    position: relative;
    transition: all 0.3s ease-in;

}

img {
    width: 100%;


}

.h3 {
    width: 80%;
    font-size: 1rem;
    margin: 3% 0;
    float: left;
}


.rating {
    width: 20%;
    color: goldenrod;
    margin: 3% 0;
    float: left;

}

.rating span {
    padding: 10%;
    background-color: #14173b;

}

.text {
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 1.2rem;
    max-height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;

}

.newDiv:hover .text {
    visibility: visible;
    opacity: 1;
}


.search {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
   color: red;
}

.search::-webkit-input-placeholder{
    color: red;
}
button{
    margin: 0 1rem;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: slateblue;
}